/* ========= RESPONSIVIDADE ========= */
@media (max-width: 600px) {
	body {
		place-items: start;
	}

	button {
		padding: 3vw;
		font-size: 3.5vw;
		border-radius: 2vw;
	}

	/* --------- Configuração do Input Radio --------- */
	input[type='radio'] {
		width: 4vw;
		height: 4vw;
	}

	/* ========= SEÇÃO HERO (CABEÇALHO) ========= */
	.cabecalho-apresentacao {
		padding: 8vw 6vw;
		text-align: center;
		border-bottom-left-radius: 35vw;

		grid-template-columns: 1fr;
		gap: 6vw;

		.container-texto {
			max-width: 100%;
			padding-left: 0;

			justify-items: center;
			gap: 3vw;

			h1 {
				font-size: 6vw;
			}

			p {
				font-size: 3.5vw;
				line-height: 1.6;
			}
		}

		.container-imagem {
			margin-right: 0;

			img {
				width: 45vw;
			}
		}
	}

	/* ========= CARD PRINCIPAL ========= */
	.cartao-principal {
		width: 100%;
		padding: 5vw;
		border-radius: 3vw;
		box-shadow: none;

		gap: 6vw;

		h2 {
			font-size: 5vw;
		}

		/* --------- Filtros --------- */
		.sub-cartao-configuracao {
			padding: 4vw;
			border-radius: 2vw;
			gap: 5vw;

			.linha-formulario {
				grid-template-columns: 1fr;
				gap: 5vw;

				.campo-grupo {
					gap: 3vw;
				}
			}

			label {
				font-size: 3.5vw;
			}

			select,
			input[type='number'] {
				padding: 2.5vw;
				font-size: 3vw;
				border-radius: 1.5vw;
			}
		}

		/* --------- Botões --------- */
		.linha-botoes {
			grid-template-columns: 1fr;
			gap: 2vw;
		}

		/* --------- Formulários --------- */
		.container-formulario-dinamico {
			padding: 2vw 0;
			gap: 6vw;

			flex-direction: column;

			.grupo-dentes {
				width: 100%;
				min-width: auto;

				.cabecalho-arco h4 {
					margin: 5vw 0;
					font-size: 5vw;
				}
			}

			.grade-arcos {
				gap: 0.1vw;
			}

			.hemiarco {
				gap: 3vw;

				.etiqueta-lado {
					font-size: 4vw;
				}
			}

			.coluna-dentes {
				gap: 2vw;
			}

			/* --- ESTILO 1: DENTE TOTAL (Card Simples) --- */
			.cartao-dente-simples {
				border-radius: 1.5vw;
				border-width: 0.3vw;

				.container-numero {
					width: 12vw;
					padding: 2vw;

					.numero-dente {
						font-size: 3.5vw;
					}
				}

				.entrada-total {
					width: 18vw;
					padding: 2vw;
					font-size: 4vw;
					border-left-width: 0.3vw;
				}
			}

			/* --- ESTILO 2: DENTE COMPONENTE (Card Detalhado) --- */
			.componente-dente {
				width: 44vw;
				border-radius: 1.8vw;
				border-width: 0.2vw;

				.dente-titulo {
					padding: 1.5vw;

					h3 {
						font-size: 4vw;
					}
				}

				.dente-corpo {
					padding: 2vw 1vw;
					gap: 0.8vw;

					.caixa-entrada input.entrada-componente {
						padding: 1.5vw 0;
						font-size: 3.5vw;
						border-width: 0.3vw;
						border-radius: 1vw;
					}
				}

				.dente-legenda {
					padding: 1.5vw 0;
					border-top-width: 0.2vw;

					label {
						font-size: 3vw;
					}
				}
			}
		}

		/* --------- Geração do Histograma --------- */
		.linha-processamento {
			padding-top: 6vw;

			grid-template-columns: 1fr;
			gap: 8vw;

			.grupo-distribuicao {
				justify-content: space-around;
				gap: 0;

				.titulo-distribuicao {
					font-size: 3.2vw;
				}

				.radios-distribuicao {
					width: 45vw;
					justify-content: flex-end;
					gap: 6vw;

					label {
						font-size: 3vw;
						gap: 2vw;
					}
				}
			}

			.botao-gerar-histograma {
				width: 90%;
				padding: 3vw;
				font-size: 3.5vw;
				border-radius: 1.2vw;
				justify-self: center;
			}
		}
	}

	/* ========= FOOTER ========= */
	.rodape-institucional {
		padding: 8vw 0;

		.conteudo-rodape {
			width: 90vw;
			/* font-size: 4vw; */
			gap: 6vw;

			.texto-informativo {
				gap: 4vw;

				h3 {
					font-size: 5vw;
				}

				p {
					font-size: 3.5vw;
					line-height: 1.5;
				}

				.logos-parceiros {
					flex-direction: column;
					gap: 8vw;

					img {
						width: 35vw;
						max-height: none;
					}
				}

				h4 {
					font-size: 4vw;
				}
			}

			.botao-download-manual {
				padding: 3vw 5vw;
				font-size: 3.5vw;
				border-radius: 1.2vw;
			}

			.direitos-autorais {
				padding-top: 4vw;
				font-size: 3.2vw;
			}
		}
	}

	/* ========= MODAL DE RESPOSTA ========= */
	.modal-overlay .modal-conteudo {
		width: 85vw;
		padding: 5vw;
		border-radius: 2vw;

		gap: 5vw;

		.modal-icone {
			width: 12vw;
			height: 12vw;
			font-size: 10vw;
			border-width: 0.8vw;
		}

		#modal-titulo {
			font-size: 5vw;
		}

		.modal-corpo {
			font-size: 3.5vw;

			gap: 1vw;

			.alerta-comparativo {
				padding: 3vw;
				border-radius: 1.5vw;
			}

			.alerta-dica {
				font-size: 3vw;
			}
		}

		.modal-botao {
			font-size: 4.5vw;
			padding: 2vw 8vw;
			border-radius: 1.5vw;
		}
	}
}
