/* =========================
   RESPONSIVIDADE
   ========================= */
@media (max-width: 600px) {
  body {
    padding: 4vw;
    place-items: start;
  }

  button {
    font-size: 3.5vw;
    padding: 3vw;
    border-radius: 2vw;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 8vw 6vw;
    border-bottom-left-radius: 35vw;
    gap: 6vw;

    .hero__text-wrapper {
      padding-left: 0;
      max-width: 100%;
      justify-items: center;

      h1 {
        font-size: 6vw;
      }

      p {
        font-size: 3.5vw;
        line-height: 1.6;
      }
    }

    .hero__image-wrapper {
      margin-right: 0;

      img {
        width: 45vw;
      }
    }
  }

  .card {
    width: 100%;
    padding: 5vw;
    border-radius: 3vw;
    box-shadow: none;
    gap: 4vw;

    h2 {
      font-size: 5vw;
    }

    .sub-card {
      padding: 4vw;
      border-radius: 2vw;
      gap: 3vw;

      .form-row {
        grid-template-columns: 1fr;
        gap: 3vw;
      }

      label {
        font-size: 3.5vw;
      }

      select,
      input[type="number"] {
        font-size: 3.5vw;
        padding: 2.5vw;
        border-radius: 1.5vw;
      }
    }

    .btn-row {
      grid-template-columns: 1fr;
      gap: 3vw;
    }

    .form-container{
      /* TODO (william) implmentar todos os estilos dos formularios gerados */      
    }

    .generate-row {
      grid-template-columns: 1fr;
      gap: 4vw;
    }

    .distribution {
      gap: 2vw;

      .distribution-title {
        font-size: 3.8vw;
      }

      label {
        font-size: 3.5vw;
        gap: 1vw;
      }
    }

    .btn-generate {
      justify-self: center;
      width: 100%;
      font-size: 3.5vw;
      padding: 3vw;
      border-radius: 2vw;
    }
  }

   footer {
    padding: 8vw 0;

    .footer__content {
      width: 90vw;
      font-size: 4vw;
      gap: 6vw;

      .footer__text {
        display: flex;
        flex-direction: column;
        gap: 4vw;

        h3 {
          font-size: 5vw;
        }

        p {
          font-size: 3.5vw;
          line-height: 1.5;
        }

        h4 {
          font-size: 4vw;
        }

        .footer__logos {
          flex-direction: column;
          gap: 6vw;

          img {
            width: 40vw;
            max-height: none;
          }
        }
      }

      .footer__download-link {
        font-size: 3.5vw;
        padding: 3vw 5vw;
        border-radius: 3vw;
      }

      .footer__copyright {
        font-size: 3.2vw;
        padding-top: 4vw;
      }
    }
  }
}